@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #fff;
}

header {
  position: relative;
  width: 100%;
  padding: 0 100px;
  display: flex;
  align-items: center;
  background: #fff;
  z-index: 200;
}

header ul li a {
  position: relative;
  padding: 5px 10px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

header ul li a.active,
header ul li a:hover {
  background: #070f39;
}

.toggler {
  display: none;
}
hr {
  display: none !important;
}
/* BACKGROUND BORDE LINEAL COLORES */
/* @-webkit-keyframes blink {
  0% {
    border-color: #070f39;
  }
  50% {
    border-color: #df4ba1;
  }
  100% {
    border-color: #541742;
  }
}
@-moz-keyframes blink {
  0% {
    border-color: #070f39;
  }
  50% {
    border-color: #df4ba1;
  }
  100% {
    border-color: #541742;
  }
}
@-ms-keyframes blink {
  0% {
    border-color: #070f39;
  }
  50% {
    border-color: #df4ba1;
  }
  100% {
    border-color: #541742;
  }
}
@keyframes blink {
  0% {
    border-color: #070f39;
  }
  50% {
    border-color: #df4ba1;
  }
  100% {
    border-color: #541742;
  }
} */
/* BACKGROUND PARPADEO */

@-webkit-keyframes blink {
  0% {
    background: #070f39;
  }
  50% {
    background: #df4ba1;
  }
  100% {
    background: #541742;
  }
}
@-moz-keyframes blink {
  0% {
    background: #070f39;
  }
  50% {
    background: #df4ba1;
  }
  100% {
    background: #541742;
  }
}
@-ms-keyframes blink {
  0% {
    background: #070f39;
  }
  50% {
    background: #df4ba1;
  }
  100% {
    background: #541742;
  }
}
@keyframes blink {
  0% {
    background: #070f39;
  }
  50% {
    background: #df4ba1;
  }
  100% {
    background: #541742;
  }
}

.logo {
  display: block;
  margin: auto;
  width: 450px;
  max-width: 100%;
  border: 5px solid transparent;
}
.logo img {
  margin: auto;
  display: block;
  max-width: 100%;
}

#mosaico {
  position: relative;
  padding-top: 2px;
  z-index: 9;
}

.options {
  display: none;
}

.menu {
  width: 100%;
  display: flex;
  padding: 20px;
  background: #070f39;
  position: sticky;
  top: 0;
}
.menu a {
  width: 100%;
  display: block;
  margin-right: 20px;
  margin-left: 20px;
  border: 2px solid #fff;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-family: "Orbitron", sans-serif;
}

.menu a:hover {
  background: #df4ba1;
  text-decoration: none;
  border: 2px solid black;
  opacity: 1;
}
.section1 {
  background: #fff;
  border-radius: 35px;
}

.subtitulos1 h1 {
  color: #070f39;
  display: block;
  white-space: nowrap;
  text-align: center;
  margin: 30px;
  font-family: "Orbitron", sans-serif;
}

.about {
  background: #fff;
  border-radius: 100px;
}
.about,
.services {
  width: 100%;
  display: block;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.about-c1 h1,
.about-c1 p {
  color: #070f39;
  font-size: 1.5em;
  margin: 20px;
  text-align: justify;
  font-family: "Orbitron", sans-serif;
}

.about-c1 {
  border-right: 4px solid #070f39;
}

.about-c1,
.about-c2 {
  width: 99%;
}

.about-c2 img {
  display: block;
  margin: auto;
  max-width: 400px;
  object-fit: cover;
}

.about-c2 h2 {
  color: #070f39;
  font-size: 25px;
  margin: 20px;
  text-align: center;
  font-family: "Orbitron", sans-serif;
}

.section2 .services-c1,
.section2 .services-c2 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.section2 .services-c1 ul li,
.section2 .services-c2 ul li {
  font-family: "Orbitron", sans-serif;
  margin: 20px;
  list-style-image: url("../img/li-list/planeta-1.png");
  list-style-position: outside;
  justify-content: center;
  align-items: center;
}

#servicios {
  border-top-left-radius: 400px;
  background: #541742;
}

.services .list-service {
  color: #fff;
  padding-bottom: 40px;
  font-size: 20px;
  flex-direction: column;
  text-align: left;
}

.subtitulos2 h1 {
  color: #fff;
  display: block;
  padding-top: 20px;
  text-align: center;
  font-family: "Orbitron", sans-serif;
}

#scrollUp {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #541742;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  border: 2px solid #fff;
}

#scrollUp:hover {
  background-color: #555;
}

.box svg {
  position: relative;
  left: 0;
  top: 200px;
  display: block;
  margin: auto;
  z-index: inherit;
  border-radius: 100%;
/*   -webkit-animation: blink 1s infinite;
  -moz-animation: blink 1s infinite;
  -ms-animation: blink 1s infinite; */
  overflow: hidden;
}

.box2 svg {
  position: relative;
  float: right;
  display: block;
 
}

.box3 svg {
  position: relative;
  float: left;
  display: block;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  /*  background-image: url("../img/via.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  object-fit: cover; */
  -webkit-animation: fadeOut 3500s;
  animation: fadeOut 3500s;
  z-index: 99999999999;
  overflow: hidden;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*CELULAR MOVIL*/
@media (max-width: 991px) {
  header ul {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 50px 30px;
    overflow: auto;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s;
    background: #541742;
    flex-direction: column;
    text-align: center;
    opacity: 0;
    transform: translateY(-100%);
    text-decoration: none;
  }
  header.active ul {
    top: 80px;
    opacity: 1;
    transform: translateY(0);
  }
  header ul li a {
    margin: 5px 0;
    font-size: 24px;
    text-decoration: none;
    border: 2px solid white;
  }

  header ul li a:hover {
    background: #070f39;
  }
  .toggler {
    border: 2px solid black;
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    background: #070f39;
    cursor: pointer;
    margin: auto;
  }
  .toggler::before {
    content: "";
    position: absolute;
    top: 2px;
    width: 100%;
    height: 2px;
    background: #fff;
    z-index: 1;
    box-shadow: 0 10px 0 #fff;
    transition: 0.5s;
  }

  .toggler::after {
    content: "";
    position: absolute;
    bottom: 1px;
    width: 100%;
    height: 2px;
    background: #fff;
    z-index: 1;
    transition: 0.5s;
  }
  header.active .toggler::before {
    top: 10px;
    transform: rotate(45deg);
    box-shadow: 0 0 0 #fff;
  }

  header.active .toggler::after {
    bottom: 14px;
    transform: rotate(-45deg);
  }
  .options {
    display: flex;
    height: 400px;
    padding-top: 20px;
  }
  .menu {
    display: none;
  }
  .logo {
    display: block;
    margin: auto;
    width: 100% !important;
  }
  hr {
    margin-top: 5px !important;
    margin-bottom: 1px !important;
    border: none !important;
  }
  .about-c1 {
    border-right: none;
  }

  .about,
  .services {
    width: 100%;
    display: block;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .about-c2 img {
    display: block;
    margin: auto;
    max-width: 500px;
    object-fit: cover;
  }

  #servicios {
    border-top-left-radius: 0;
    background: #541742;
  }

  .box svg {
    display: flex;
    justify-content: center;
  
  }

  .box2 svg,
  .box3 svg {
    display: none;
  }
}

/*IPAD*/
@media (max-width: 768px) {
  #header2 {
    display: none;
  }

  .about-c1 {
    border-right: none;
  }
  .about,
  .services {
    width: 100%;
    display: block;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .about-c2 img {
    display: block;
    margin: auto;
    max-width: 300px;
    object-fit: cover;
  }
}
