@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../styles/font/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nyGy6BoWgz.woff2) format('woff2');

}

/****************GLOBALS**************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 13px;
}

html {
  scroll-behavior: smooth;
}

/**********SCROLLBAR CUSTOM*****************/
::-webkit-scrollbar {
  width: 0;
}

#scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}

#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  background: linear-gradient(to top, #df4ba1, #007bb5);
  z-index: 999999999;
}

#progressbar:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  filter: blur(10px);
}

#progressbar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(30px);
}

/******************************************/
/***********PRELOADER**************/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  /*  background-image: url("../img/via.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  object-fit: cover; */
  -webkit-animation: fadeOut 3500s;
  animation: fadeOut 3500s;
  z-index: 99999999999;
  overflow: hidden;
}

#preloader video {
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

#preloader h1 {
  position: relative;
  top: 800px;
  left: 0;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  font-size: 3em;
  animation-name: textAnimate;
  animation-duration: 4s;
}

@keyframes textAnimate {
  0% {
    left: 0px;
    top: 0px;
  }

  25% {
    left: 200px;
    right: 200px;
  }

  50% {
    left: 200px;
    right: 200px;

  }

  75% {
    left: 200px;
    right: 200px;
  }

  100% {
    left: 0;
    right: 200px;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/***********************HEADER********************/
header {
  position: relative;
  width: 100%;
  padding: 0 100px;
  display: flex;
  align-items: center;
  background: #fff;
  z-index: 200;
}

header ul li a {
  position: relative;
  padding: 5px 10px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

header ul li a.active,
header ul li a:hover {
  background: #070f39;
}

.toggler {
  display: none;
}

hr {
  display: none !important;
}

/****************LOGO********************/
.logo {
  position: relative;
  display: block;
  margin: auto;
  width: 450px;
  max-width: 100%;
  border: 5px solid transparent;
}

.logo img {
  width: 500px;
  max-width: 100%;
  max-height: 122px;
}

/****************SLIDER********************/
#slider {
  position: relative;
  z-index: 9;
}

/**************MAIN MENU***********************/
.menu {
  width: 100%;
  display: flex;
  padding: 20px;
  background: #070f39;
  position: sticky;
  top: 0;
  z-index: 10000;
}

.menu a {
  width: 100%;
  display: block;
  margin-right: 20px;
  margin-left: 20px;
  border: 2px solid #fff;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-family: "Orbitron", sans-serif;
}

.menu a:hover {
  background: #df4ba1;
  text-decoration: none;
  border: 2px solid black;
  opacity: 1;
}

/*MENU RESPONSIVE*/
.options {
  display: none;
}

/************SECTION**********/

.contenedor {
  width: 100%;
}

section {
  display: block;
  align-items: center;
  padding: 50px 50px 100px;
}

.about,
.services {
  position: relative;
  width: 100%;
  display: block;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.subrayado {
  margin: auto;
  display: block;
  margin-bottom: 20px;
}

.titulos h1 {
  color: #070f39;
  display: block;
  text-align: center;
  margin: 30px;
  font-family: "Orbitron", sans-serif;
  font-size: 3em;
  padding-top: 20px;
}

.valores {
  color: #070f39;
  display: block;
  text-align: left;
  margin: 30px;
  font-family: "Orbitron",
    sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
}

.col-1 {
  border-right: 4px solid #070f39;
}

.col-1 h1,
.col-1 p {
  color: #070f39;
  font-size: 1.5em;
  margin: 20px;
  text-align: justify;
  font-family: "Orbitron", sans-serif;
  line-height: 1.5em;
}

.col-1,
.col-2 {
  width: 100%;
}

.col-2 img {
  display: block;
  margin: auto;
  object-fit: cover;
  width: 350px;
  max-width: 100%;
}


/**********THANOS**********/
#thanos{
  background: gold;
}
#imgBox {
  position: relative;
  display: block;
  margin: auto;
  padding: 20px;
  text-align: center;
  width: 300px;
  height: 500px;
  background: gray;
}

#imgBox img {
  max-width: 100%;
}

.js-plays {
  padding: 20px;
  position: absolute;
  height: 470px;
  width: 300px;
  left: 0;
  background: #0084ff;
  opacity: 0;
}

.js-resets {
  text-align: center;
  display: block;
  margin: 20px auto;
  width: 200px;
  background: #0084ff;
  border: none;
  border-radius: 5px;
  padding: 20px;
  font-size: 15px;
  color: #fff;
}

#efectoThanos {
  position: relative;
  left: 0 !important;
  top: -595px !important;
  background-color: #007bb5;
  text-align: center;
  pointer-events: none;
  border: 2px solid green;
  width: 300px !important;
  height: 500px !important;
  margin: auto;
  opacity: 0;
z-index: 9999;
}

#efectoThanos canvas {
  position: relative;
  left: 0 !important;
  top: -595px !important;
  background-color: #007bb5;
  text-align: center;
  pointer-events: none;
  border: 2px solid green;
  width: 300px !important;
  height: 500px !important;
  margin: auto;
  opacity: 0;
  transition: transform 1.5s ease-in, opacity 1.5s ease-in;
  z-index: 9999;
}

/***************************/
.col-2 h2 {
  color: #070f39;
  display: block;
  text-align: center;
  margin: 30px;
  font-family: "Orbitron", sans-serif;
  font-size: 3em;
  padding-top: 20px;
}

/************SERVICES************/
#services {
  border-top-left-radius: 400px;
  background: #541742;
}

#services .titulos h1 {
  color: white;
}

#services .col-1 {
  border: none;
}

.services .col-1,
.services .col-2 {
  display: block;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.services .col-1 ul li,
.services .col-2 ul li {
  font-family: "Orbitron", sans-serif;
  margin: 20px;
  list-style-image: url("../img/li-list/planeta-1.png");
  list-style-position: outside;
  justify-content: center;
  align-items: center;
}

.services .list-service {
  color: #fff;
  padding-bottom: 40px;
  font-size: 20px;
  flex-direction: column;
  text-align: left;
}

/**********SCROLLUP**************/
#scrollUp {
  background-image: url("../img/top.png");
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 38px;
  height: 38px;
  border: none;
  cursor: pointer;
  border-radius: 100%;
  z-index: 9999999;
  border: 4px solid;
  animation: bordes 0.5s infinite;
}

#scrollUp:hover {
  border-radius: 100%;
}

@-webkit-keyframes blink {
  0% {
    background: #070f39;
  }

  50% {
    background: #df4ba1;
  }

  100% {
    background: #541742;
  }
}

@-moz-keyframes blink {
  0% {
    background: #070f39;
  }

  50% {
    background: #df4ba1;
  }

  100% {
    background: #541742;
  }
}

@-ms-keyframes blink {
  0% {
    background: #070f39;
  }

  50% {
    background: #df4ba1;
  }

  100% {
    background: #541742;
  }
}

@keyframes blink {
  0% {
    background: #070f39;
  }

  50% {
    background: #df4ba1;
  }

  100% {
    background: #541742;
  }
}

.box {
  width: 100%;
}

.box svg {
  position: relative;
  left: 0;
  top: 300px;
  display: block;
  margin: auto;
  z-index: inherit;
  width: 50%;
  height: 100%;


}

/* BACKGROUND BORDE LINEAL COLORES */
@-webkit-keyframes bordes {
  0% {
    border-color: #070f39;
  }

  50% {
    border-color: #df4ba1;
  }

  100% {
    border-color: #541742;
  }
}

@-moz-keyframes bordes {
  0% {
    border-color: #070f39;
  }

  50% {
    border-color: #df4ba1;
  }

  100% {
    border-color: #541742;
  }
}

@-ms-keyframes bordes {
  0% {
    border-color: #070f39;
  }

  50% {
    border-color: #df4ba1;
  }

  100% {
    border-color: #541742;
  }
}

@keyframes bordes {
  0% {
    border-color: #070f39;
  }

  50% {
    border-color: #df4ba1;
  }

  100% {
    border-color: #541742;
  }
}

.portfolio-item {
  display: block;
  height: 100%;
  margin-bottom: 30px;
  position: relative;
  padding-top: 20px;
  animation: bordes 2s infinite;
  border: 4px solid;
}

.portfolio-item:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: background-color 0.25s ease-in-out;
  -moz-transition: background-color 0.25s ease-in-out;
  -webkit-transition: background-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out;
  -ms-transition: background-color 0.25s ease-in-out;
}

.portfolio-item:hover:before {
  background-color: rgba(33, 33, 33, 0.6);
}

.portfolio-item-info {
  position: absolute;
  bottom: 50px;
  left: 0;
  z-index:999;
  opacity: 0;
  transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
}

.portfolio-item:hover .portfolio-item-info {
  left: 35px;
  opacity: 1;
}


.portfolio-item-info h4 {
  display: block;
  font-weight: 300;
  color: #fff;
  font-size: 1.5rem;
  text-align: left;
  font-family: "Orbitron", sans-serif;
  padding-bottom: 20px;
  text-shadow: 2px 4px 3px #070f39;
}

.portfolio-item-info a {
  padding: 35px;
  color: #fff;
  background-image: url("../img/url.svg");
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 100px;
  filter: invert(100%);
}

.portfolio-item-info a:hover {
  color: #212121;
}

/********PORTFOLIO***********/
.portfolio-grill {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  gap: 20px;
}

.img-res {
  display: block;
  width: 100vw;
  max-width: 100%;

}

/*************CONTACTO****************/

#contact {
  background: #541742;
}

#contact .titulos h1 {
  color: #fff;
  display: block;
  text-align: center;
  margin-bottom: 30px;
  font-family: "Orbitron", sans-serif;
  font-size: 2.5em;
  padding-top: 20px;
}

.section-form {
  border-top-right-radius: 400px;
}

.form-control {
  color: #fff;
  width: 100%;
  height: 30px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  margin-top: 35px;
  border: 0;
  border-bottom: 1px solid #212121;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  outline: 0 none transparent;
  -webkit-appearance: none;
  font-family: "Orbitron", sans-serif;
}

textarea {
  margin-top: 40px;
  min-height: 100px;
  resize: none;
  font-family: "Orbitron", sans-serif;
}

.form-control:focus {
  box-shadow: none;
  border-bottom-color: #e1e1e1;
}

::-moz-placeholder,
::-webkit-input-placeholder {
  font-size: 16px;
}

.gform {
  background: #541742;
  width: 50%;
  margin: auto;
}

.btn {
  margin-top: 15px;
  display: inline-block;
  color: #212121;
  margin-right: 20px;
  font-family: "Orbitron", sans-serif;
  padding: 10px;
  background: #fff;
}

/********************FOOTER **********************/
.site-footer {
  width: 100%;
  background-color: #212121;
}

.site-footer a {
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out,
    background-color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  -ms-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

a.twitter-bg:hover {
  color: #55acee;
}

a.facebook-bg:hover {
  color: #3b5998;
}

a.gplus-bg:hover {
  color: #007bb5;
}

a.linkedin-bg:hover {
  color: #dd4b39;
}

a.icon-up-bg:hover {
  color: #212121;
}

a.instagram-bg:hover {
  color: #dd4b39;
}

.copyright {
  color: #fff;
  display: block;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  font-size: 1.5em;
  padding-top: 20px;
  width: 100%;
}

.redes {
  display: block;
  padding: 30px;
  margin: auto;
  text-align: center;
  width: 100%;
}

.icons {
  display: inline-block;
  width: 37px;
  height: 35px;
  margin-right: 30px;
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.icons:hover {
  transform: translate(0, -20px);
  transition: 0.6s;
}

a.facebook {
  background-image: url("../img/facebook.svg");
}

a.instagram {
  background-image: url("../img/instagram.svg");
}

a.youtube {
  background-image: url("../img/youtube.svg");
}

a.github {
  background-image: url("../img/github.svg");
}

/********************RESPONSIVE*********************/
/*CELULAR MOVIL*/
@media (max-width: 991px) {

  /********************PRELOADER********/
  #preloader h1 {
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-size: 1.5em;
  }

  .box svg {
    margin: auto;
    width: 100% !important;
    position: relative;
  }

  video {
    display: none;
  }

  /**********HEADER-MOBILE*********/
  header {
    padding: 0 !important;
    position: sticky;
    z-index: 55555555;
    /******MENU RESPONSIVE PERSIGUE*******/
    top: 0;
    border-bottom: 2px solid purple;
  }

  header ul {
    position: absolute;
    font-family: "Orbitron", sans-serif;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 50px 30px;
    overflow: auto;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s;
    background: #541742;
    flex-direction: column;
    text-align: center;
    opacity: 0;
    transform: translateY(-100%);
    text-decoration: none;
  }

  header.active ul {
    top: 65px;
    opacity: 1;
    transform: translateY(0);
  }

  header ul li a {
    margin: 5px 0;
    font-size: 24px;
    text-decoration: none;
    border: 2px solid white;
    list-style: none !important;
  }

  header ul li a:hover {
    background: #070f39;
  }

  .toggler {
    border: 2px solid black;
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    background: #070f39;
    cursor: pointer;
    margin: auto;
  }

  .toggler::before {
    content: "";
    position: absolute;
    top: 2px;
    width: 100%;
    height: 2px;
    background: #fff;
    z-index: 1;
    box-shadow: 0 10px 0 #fff;
    transition: 0.5s;
  }

  .toggler::after {
    content: "";
    position: absolute;
    bottom: 1px;
    width: 100%;
    height: 2px;
    background: #fff;
    z-index: 1;
    transition: 0.5s;
  }

  header.active .toggler::before {
    top: 10px;
    transform: rotate(45deg);
    box-shadow: 0 0 0 #fff;
  }

  header.active .toggler::after {
    bottom: 14px;
    transform: rotate(-45deg);
  }

  .menu {
    display: none;
  }

  .options {
    display: flex;
    height: 500px;
    padding-top: 35px;
    list-style: none !important;
  }

  .logo {
    width: 200px;
  }

  .logo img {
    display: block;
    margin: auto !important;
    width: 100% !important;
    height: 100% !important;
  }

  /*********************************************/
  section {
    display: block;
    text-align: center;
    padding: 0 !important;
  }

  #about .col-1 {
    border-right: none;
  }

  .about {
    width: 100%;
    display: block;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  #services {
    border-top-left-radius: 0;
    background: #541742;
  }

  .services {
    width: 100%;
    display: block;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  /*************PORTFOLIO*************/
  .portfolio-grill {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    padding: 0;
  }

  .portfolio img {
    padding-bottom: 20px;
  }

  .portfolio-item-info {
    position: absolute;
    bottom: 50px;
    left: 0;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
  }

  .portfolio-item-info a {
    padding: 35px;
    color: #fff;
    background-image: url("../img/url.svg");
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px 100px;
  }

  .portfolio-item-info a:hover {
    color: #212121;
  }

  /************CONTACTO************/
  #contact {
    border-top-right-radius: 0 !important;
    background: #541742;
  }

  #contact button {
    margin: 20px;
  }

  .gform {
    background: #541742;
    width: 100%;
    margin: auto;
  }

  /*********FOOTER**********************/
  .redes {
    display: block;
    margin: auto;
    text-align: center;
  }

  a.github {
    margin-top: 20px !important;
  }

  @-webkit-keyframes textAnimate {
    50% {

      left: 100px;
      right: 200px;

    }

    75% {

      left: 100px;
      right: 200px;
    }

    100% {

      left: 0;
      right: 200px;
    }
  }
}

@keyframes textAnimate {

  50% {

    left: 100px;
    right: 200px;

  }

  75% {

    left: 100px;
    right: 200px;
  }

  100% {

    left: 0;
    right: 200px;
  }
}



@media (max-width: 768px) {

  /********************PRELOADER********/
  #preloader h1 {
    position: relative;
    top: 550px;
    left: 0;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-size: 1.5em;
  }
}
